:root {
    --clr-primary: #fff;
}

.bg-dark {
    background-color: #000;
    color: #fff;
}

.text-center {
    text-align: center;
}

.container {
    justify-content: center;
}

.wrapper {
    min-height: 30vh;
}